<section>
	<h3>Les anciens articles (archives)</h3>
	<% @articles.each do |article| %>
        <h2><%=article[:titre]%></h2>
        <p><%=article[:article]%></p>
        <p><%=article[:auteur]%></p>
        	<form method="post" action="suppression">
               <input type="hidden" value="<%=article[:id]%>" name="suppression"/>
               <input type="submit" value="suppression"/>
            </form>
      <% end %>
</section>