<section>
	<h3>Les anciens articles (archives)</h3>
	<% @articles.each do |article| %>
        <h2><%=article[:titre]%></h2>
        <p><%=article[:article]%></p>
        <p><%=article[:auteur]%></p>
      <% end %>
</section>