<section>
    <h3>Page d'acceuil/principale</h3>
    		</section>
             <% @articles.each do |article| %>
             <section>
                <h2><%=article[:titre]%></h2>
                <p><%=article[:article]%></p>
                <p><%=article[:auteur]%></p>
                </section>
                <% end %>
            <aside>
    			<h3>Les articles actuels : </h3>
    				<p><ul>
    					<li>Le site du Chartroullard</li>
            <% @articles.each do |article| 
                %>
               <li><%=article[:titre]%></li>
                  <% end %>
    			</ul></p>
    		</aside>