<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="chartroullard.css" />
        <title>Le Chartroullard !</title>
    </head>
    <body>
    	<div id="block_page">
    		<header>
    			<h1>Le Chartroullard</h1>
    			<h3>Le site de l'info à la Chartroulle !</h3>
    		</header>
    		<section><p>Pour l'instant encore en développement, mais ça va s'améliorer !</p>
    			<h2>Le site du Chartroullard</h2>
    			<p>Le Chartroullard, hebdomadaire de la Chartroulle, est maintenant disponible sur vos écrans ! Il sera mis à jour tous les mois par notre rédacteur en chef, responsable, programmeur, gérant, directeur et de temps en temps photographe Gabriel Roger ! N'hésitez pas à lui donner vos propositions, idées, sujets, articles ! </p>
    		</section>
    		<aside>
    			<h3>Les articles actuels : </h3>
    				<p><ul>
    					<li>Le site du Chartroullard</li>
    			</ul></p>
    		</aside>
    		<footer><p>Me contacter (Pour ceux qui ne viennent pas régulièrement à la Chartroulle ou pour les requêtes urgentes) : </p>
    		</footer>
    	</div>
    </body>