<section>
    <h3>Page d'acceuil/principale</h3>
    			<h2>Le site du Chartroullard</h2>
    			<p>Le Chartroullard, hebdomadaire de la Chartroulle, est maintenant disponible sur vos écrans ! Il sera mis à jour tous les mois par notre rédacteur en chef, responsable, programmeur, gérant, directeur et de temps en temps photographe Gabriel Roger ! N'hésitez pas à lui donner vos propositions, idées, sujets, articles ! </p>
    		</section>
             <% @articles.each do |article| %>
             <section>
                <h2><%=article[:titre]%></h2>
                <p><%=article[:article]%></p>
                <p><%=article[:auteur]%></p>
                </section>
                <% end %>
            <aside>
    			<h3>Les articles actuels : </h3>
    				<p><ul>
    					<li>Le site du Chartroullard</li>
            <% @articles.each do |article| 
                %>
               <li><%=article[:titre]%></li>
                  <% end %>
    			</ul></p>
    		</aside>