<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="chartroullard.css" />
        <title>Le Chartroullard !</title>
    </head>
    <body>
    	<div id="block_page">
    		<header>
    			<h1>Le Chartroullard</h1>
    			<h3>Le site de l'info à la Chartroulle !</h3>
    		</header>
            <article><P>Si vous avez une ideée, un sujet, quelque chose à partager, n'hésitez pas : rédigez le !</P>
            </article>
            <form method="post" action="traitement">
                <p><label for="titre_article">Titre : </label><input name="titre_article" id="titre_article" size="50" placeholder="Ex: De l'agitation à la Chartroulle !" autofocus required/></p>
                <p>
                    <label for="article">Votre article : </label>
                </br>
                    <textarea type="text" name="article" id="article" rows="15" cols="75" required></textarea>
                </p>
                <p><form method="post" action="traitement.php"/></p>
                <p>
                 <label for="rubrique">Dans quelle rubrique voulez vous poster cet article ?</label><br />
                <select name="rubrique" id="rubrique" required>
                 <option value="annonces">Petites annonces</option>
                 <option value="articles_envoyés">Articles rédigés par nos lecteurs</option>
                </select>
                </p>
                </form></p>
                <p><input type="submit" value="Envoyer"/></p>
            </form>