<article>
	<h2>Sondages</h2>
	<p>Cette page est dédiée aux différents sondages . Ils sont pour le moment parfaitement inutiles, mais certains le seront . Ce sera alors précisé dans un article sur la page d'acceuil . Pour l'instant, voici le lien du sondage : <a href="https://gabrielsondage.herokuapp.com">Quel est votre couleur préférée ?</a></p>